:root {
  --focus-color: "#0071E3";
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SF Pro JP", "SF Pro Display", "SF Pro Icons",
    "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo",
    "ＭＳ Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.width {
  @apply sm:mx-auto lg:w-[980px] md:w-[692px] w-11/12 mx-3 max-w-full;
}

.ql-font-serif {
  @apply font-serif;
}

.ql-font-monospace {
  @apply font-mono;
}

.ql-indent-1 {
  @apply pl-12;
}

.ql-indent-2 {
  @apply pl-24;
}

.ql-indent-3 {
  @apply pl-36;
}

.ql-indent-4 {
  @apply pl-48;
}

.ql-indent-5 {
  @apply pl-60;
}

.ql-indent-6 {
  @apply pl-72;
}

.ql-indent-7 {
  @apply pl-72;
}

.ql-indent-8 {
  @apply pl-72;
}

.no-link {
  text-underline-offset: 0px;
  text-decoration-line: none !important;
}

.w-article {
  @apply lg:w-[653px] md:w-[583px] w-[362.25px] mx-auto max-w-full;
}

h1 {
  @apply lg:text-[48px] md:text-[40px] sm:text-[32px] text-3xl lg:font-extrabold font-bold lg:leading-h1-lg md:leading-h1-md leading-h1-sm;
}

h2 {
  @apply lg:mt-[52px] md:mt-[48px] sm:mt-[44px] mt-[40px] lg:text-[24px]/8 text-[21px]/7 font-bold lg:leading-h2-lg leading-h2-normal;
}

h3 {
  @apply lg:mt-[48px] md:mt-[44px] sm:mt-[40px] mt-[36px] lg:text-[20px]/8 text-[17px]/7 font-bold lg:leading-h2-lg leading-h2-normal;
}

a {
  @apply link link-hover text-[#06c];
}

li {
  @apply leading-p lg:text-[19px] text-[17px];
}

p {
  @apply leading-p mb-[1.47376em] lg:text-[19px] text-[17px];
}

ol {
  @apply list-decimal list-inside;
}

img {
  @apply sm:rounded-[10px] rounded-none my-[44px];
}

blockquote {
  @apply p-4 my-4 border-s-4 border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800;
}

pre {
  @apply mockup-code p-4 bg-black;
}
